//单行文本溢出
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
//修改element-ui table 的样式
$color:#fff;
$font-size:16px;
.reset-table2{
  .el-table {
    table {
      tr {
        div.myActive {
          background-color: #409eff !important;
        }
        td {
          background-color: transparent !important;
        }
        background-color: rgba(0,0,0,0);
        border: solid 1px #7ecdf4;
        height:44px;
        &.hover-row {
          > td {
            background: #012cbb !important;
            color: $color;
          }
        }
        td {
          color: $color;
        }
        th {
          background-color: #012c7b;
          border: solid 1px #7ecdf4;
          color: $color;
          font-weight: 500;
        }


        border: solid 1px rgba(126, 205, 244, 1);
        &:hover{
          background: #2e4b9e !important;
        }
        &:nth-child(2n) {
          background: #012c7b;
        }
        &:nth-child(2n+1) {
          //background-color: #1b4b8b;
        }
      }

    }
    background: transparent !important;
  }
}
.reset-table{
  .el-table {
    table {
      tr {
        div.myActive {
          background-color: #409eff !important;
        }
        td {
          background-color: transparent !important;
        }
        background-color: #012c7b;
        border: solid 1px #7ecdf4;
        &.hover-row {
          > td {
            background: #012cbb !important;
            color:$color;
          }
        }
        td{
          color:$color;
        }
        th {
          background-color: #012c7b;
          border: solid 1px #7ecdf4;
          color: $color;
          font-weight: 500;
        }
      }

    }
    background: transparent !important;
  }
  .el-col{
    padding: 0 2px;
  }
}
//修改分页样式
.reset-page{
  $lg-font-size:$font-size+8px;
  $active-color:rgba(66, 189, 255, 1);
  $bg:transparent;
  $ww:60px;
  $hh:40px;
  .el-pager{
    li.el-icon,li.number{
      background: $bg;
      display:inline-block;
      color: $color;
      font-size: $font-size;
      transition: all 0.3s;
      width: $ww;
      height:   $hh !important;
      background-color: #0e182e !important;
      border-radius: 3px;
      border: solid 1px #6076ad;
      line-height:  $hh;
      color:#FFF;
      &.active{
        font-size: $lg-font-size;
        color: $active-color ;
        background: $active-color !important;

      }
      &:hover{
        font-size: $lg-font-size;
        color: $active-color;
      }
    }
  }
  .el-pagination {
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-next,.btn-prev{
      background: $bg;
      color: $color;
      width: $ww;
      height:   $hh;
      background-color: #0e182e !important;
      border-radius: 3px;
      border: solid 1px #6076ad;
      line-height:  $hh;
      &:hover{
          transition: all 0.3s;
          color: $active-color;
      }
      .el-icon{
        font-size: $font-size;
      }
    }
    span{
      color: $color;
      font-size: $font-size;

    }
  }
}
//修改form
.reset-form{
  .el-form-item__label{
    color: $color;
    font-size: $font-size;
  }
}

//修改复选框
.el-checkbox{
  color: #fff;
  $size:16px;
  .el-checkbox__label{
    font-size: $size;
  }
  .el-checkbox__inner{
    width: $size;
    height: $size;
  }
}
.el-checkbox2{
  color: #e4fdff;
  $size:16px;
  .el-checkbox__label{
    color: #e4fdff;
    font-size: $size;
  }
  .el-checkbox__inner{
    background-color: rgba(0,0,0,0);
    width: $size;
    height: $size;

  }

}
  //修改树
.reset-tree{
  .el-tree {
    border-right: none;
    background: transparent !important;
    .el-tree-node__label {
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 1px;
      color: #fff;
    }
    .el-tree-node__content {
      height: 40px;
      span{
        @extend .ellipsis;
      }
    }
    .el-tree-node__content:hover {
      background: rgba(0, 0, 0, 0.2) !important;
    }
    .el-tree-node__content {
      background: transparent !important;
      /*padding: 0 20px !important;*/
      box-sizing: border-box;
      .el-tree-node__expand-icon {
        font-size: 20px;

      }
      span{
        //overflow: visible !important;
        white-space: normal;
      }
    }
    .el-tree-node__children{
      overflow: visible;
    }
  }
}
//修改下拉框
.reset-sel{
  .el-input__inner{
    background: rgb(2, 37, 108);
    color: #fff;
    border: none;
  }
}